<?xml version="1.0"?>
<!--
/**
 * Chkernit_BackStyler extension
 *
 * @category   Chkernit
 * @package    Chkernit_BackStyler
 * @author     Chkernit Dev Team
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Chkernit_BackStyler" setup_version="1.0.0" />
</config>
